bitset/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pk86.de/bitset" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pk86.de/bitset" name="bitset">
<types>
<xsd:schema>
<xsd:import namespace="http://pk86.de/bitset" schemaLocation="http://10.8.0.1:8080/bitdemo/soap?xsd=1"/>
</xsd:schema>
</types>
<message name="getNextPageString">
<part name="parameters" element="tns:getNextPageString"/>
</message>
<message name="getNextPageStringResponse">
<part name="parameters" element="tns:getNextPageStringResponse"/>
</message>
<message name="getPrevPageString">
<part name="parameters" element="tns:getPrevPageString"/>
</message>
<message name="getPrevPageStringResponse">
<part name="parameters" element="tns:getPrevPageStringResponse"/>
</message>
<message name="hasItem">
<part name="parameters" element="tns:hasItem"/>
</message>
<message name="hasItemResponse">
<part name="parameters" element="tns:hasItemResponse"/>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"/>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"/>
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession"/>
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="hasSession">
<part name="parameters" element="tns:hasSession"/>
</message>
<message name="hasSessionResponse">
<part name="parameters" element="tns:hasSessionResponse"/>
</message>
<message name="endSession">
<part name="parameters" element="tns:endSession"/>
</message>
<message name="endSessionResponse">
<part name="parameters" element="tns:endSessionResponse"/>
</message>
<message name="hasNext">
<part name="parameters" element="tns:hasNext"/>
</message>
<message name="hasNextResponse">
<part name="parameters" element="tns:hasNextResponse"/>
</message>
<portType name="ObjectItemSOAPService">
<operation name="getNextPageString">
<input message="tns:getNextPageString"/>
<output message="tns:getNextPageStringResponse"/>
</operation>
<operation name="getPrevPageString">
<input message="tns:getPrevPageString"/>
<output message="tns:getPrevPageStringResponse"/>
</operation>
<operation name="hasItem">
<input message="tns:hasItem"/>
<output message="tns:hasItemResponse"/>
</operation>
<operation name="echo">
<input message="tns:echo"/>
<output message="tns:echoResponse"/>
</operation>
<operation name="createSession">
<input message="tns:createSession"/>
<output message="tns:createSessionResponse"/>
</operation>
<operation name="sayHello">
<input message="tns:sayHello"/>
<output message="tns:sayHelloResponse"/>
</operation>
<operation name="hasSession">
<input message="tns:hasSession"/>
<output message="tns:hasSessionResponse"/>
</operation>
<operation name="endSession">
<input message="tns:endSession"/>
<output message="tns:endSessionResponse"/>
</operation>
<operation name="hasNext">
<input message="tns:hasNext"/>
<output message="tns:hasNextResponse"/>
</operation>
</portType>
<binding name="bitsetBinding" type="tns:ObjectItemSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNextPageString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrevPageString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="endSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasNext">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bitset">
<port name="bitset" binding="tns:bitsetBinding">
<soap:address location="http://10.8.0.1:8080/bitdemo/soap"/>
</port>
</service>
</definitions>